
<body>
    
    <div style="margin: 15px auto; width: 45vw; height:60vh;">
    <form action="/" method="POST">
        <div class="field">
            <label class="label">Feedback: </label>
            <div class="control">
            <input class="input" type="text" name="name" placeholder="John Smith">
            </div>
        </div>

        <div class="field">
            <label class="label">Review</label>
            <div class="control">
            <input class="input" name="review" type="text" placeholder="Wow! Amazing party!>
            </div>
        </div>

        <div class="feedback">
            <label class="label">Rating</label>
            <div class="control">
            <input class="input"  name="rating" type="text" placeholder="5">
            </div>
        </div>
        </div>
        <button class="button is-success" type="submit">Submit Review</button>
    </form>
</div>

</body>
</html>