<h1>Find your next party!</h1>
<p>Can't beat them, join the party</p>

        <form action="/" method="POST">
            <input type="text" name="title" placeholder="Name" value="">
            <input type="text" name="date" placeholder="06/19/2019" value="">
            <input type="text" name="location" placeholder="555 Party Lane" value="">
            <input type="text" name="description" placeholder="surprise party" value="">
            <input type="text" name="images" placeholder="image link here" value=""> 
            <button type="submit">Post</button>
     
        </form>