<h1>Leave your reviwes or edit a previous review here! </h1>

    <form action="/{{products._id}}?_method=DELETE" method="POST">
    <a href="/{{products._id}}/edit"><button class="btn uk-button uk-button-default" type="submit">Edit Event</button>
    </a>
    
    <button class="btn uk-button uk-button-default" type="submit">Delete Event</button>
    </form>
